.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 12%;
}

.welcome-text {
  font-size: 3rem;
  font-weight: bold;
  color: #0c2d57;
}
